export(berk_jones_test)
export(event_pvalues)
export(fisher_combination_test)
export(higher_criticism_test)
export(min_p_test)
export(plot_pvalue_profile)
export(suspected_deviations)
importFrom(graphics, abline, axis, box, legend, par, plot.default, points, rect, segments)
importFrom(stats, pbeta, phyper, rbinom, rexp)
